{% extends 'base.html' %}

{% block page_title %}{{ recipe.name }}{% endblock %}

{% block content %}
<p><strong>Author:</strong> {{ recipe.author.name }}</p>

<h3>Ingredients</h3>
<ul>
    {% for ingredient in recipe.ingredients.all %}
    <li>{{ ingredient.quantity }} - {{ ingredient.ingredient.name }}</li>
    {% endfor %}
</ul>

<h3>Images</h3>
<div>
    {% for img in recipe.images.all %}
        <img src="{{ img.image.url }}" alt="{{ img.description }}" style="max-width: 300px; margin: 10px;">
        <p>{{ img.description }}</p>
    {% empty %}
        <p>No images uploaded yet.</p>
    {% endfor %}
</div>

<br>
<a href="{% url 'ledger:recipe_list' %}">Back to Recipes</a>
{% endblock %}