{% extends 'base.html' %}

{% block page_title %}Recipe Details{% endblock %}

{% block content %}
<h2>{{ recipe.name }}</h2>
<p>Author: {{ recipe.author.name }}</p>

<h3>Ingredients</h3>
<ul>
    {% for ingredient in recipe.ingredients.all %}
    <li>{{ ingredient.quantity }} - {{ ingredient.ingredient.name }}</li>
    {% endfor %}
</ul>

<h3>Images</h3>
<div>
    {% for img in recipe.images.all %}
        <img src="{{ img.image.url }}" alt="{{ img.description }}" style="max-width: 300px; margin: 10px;">
        <p>{{ img.description }}</p>
    {% empty %}
        <p>No images found. Please upload images.</p>
    {% endfor %}
</div>

<br>
<a href="{% url 'ledger:recipe_image_create' recipe.pk %}">Add New Image</a>
<br><br>
<a href="{% url 'ledger:recipe_list' %}">Back to Recipes</a>
{% endblock %}